
#loginOrCreateAccount{
    width: 30vw;
    background-color: black;
    display: inline-block;
}

#navPageTitle{
    text-align: center;
    color: rgb(161, 161, 122);
    background-color: black;
    margin-top: -21px;
    margin-bottom: -21px;
    padding: 20px;
    
}


#navbar{
    width: 100vw;
}

.openingPage{
    
}

#landingPageLogoDiv{
    display: inline-block;
    background-color: black;
    width: 863px;
    height: 683px;
    vertical-align: top;
}

#logo{
    height: 100%;
    width: 100%;
}

#loginDiv{

    width: 30%;
    text-align: center;
    background-color: blak;
    border-radius: 5px;
    color: rgb(161, 161, 122);
    padding-bottom: 30px;
    padding-left: 35px;
}

#createAccountDiv{

    width: 30%;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    color: rgb(161, 161, 122);
    padding-bottom: 30px;
    padding-left: 35px;
}

.inputs{
    height: 30px;
    width: 250px;
    text-align: center;
    border: none;
    font-size: large;
    background-color:rgb(24, 23, 23);
    color: rgb(161, 161, 122);
}

.credentialDivsElements{
    margin: 20px;
    font-size: large;
    font-family: Courier;
}

#credentialBtns{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    font-family: Courier
}

#credentialBtns:hover{
    background-color: rgb(94, 92, 92);
    color:rgb(247, 247, 247);
    transition: 0.5s ease-in-out;
}

#balanceDiv{
    color: white;
}

#buyAndSellStocksDiv{
   text-align: center; 
   font-family: Courier;
   /*background-color: rgb(24, 23, 23);*/
   background-image: linear-gradient(to right, rgb(70, 70, 70), rgb(46, 45, 45));
}

#stockDataDiv{
    text-align: center;
    width: 600px;
    /*background-color: rgb(14, 13, 13);*/
    background-image: linear-gradient(to right, rgb(46, 45, 45), rgb(27, 27, 27));
}

#positionsDiv{
    background-image: linear-gradient(to right, rgb(27, 27, 27), rgb(10, 10, 10));
    text-align: left;
    
}

.positionsData{
    margin: -20px;
    text-align: left;
    
}

.mainPageDivs{
    background-color: black;
    width: 350px;
    border: 1px solid black;
    display: table-cell;
    margin: 5%;
    height: 100%;
    color: rgb(161, 161, 122);
}

#mainPageContainer{
    width: 1250px;
    height: 600px;
    background-color: beige;
}

.buySellButtons{
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
}

.buySellButtons:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}

.buySellInputs{
    background-color: black;
    color:white;
    border: none;
    height: 30px;
    margin-top: -15px;
}

.dataPoints{
    display: inline-block;
    margin: 20px;
    font-family: Courier;
}

.subData{
    margin-top: 10px;
}

#positionsList{
    
}

#ps{
    display: inline-block;
    text-align: center;
}