<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
</head>


<body>
    <div id="main">
        <div id="navBar">
            <div id="navPageTitle"><h1> Paper Trading Web Application </h1></div>
        </div>
        
        <div id="loginOrCreateAccount" v-if="viewType=='landingPage'">
            <div id="loginDiv" class="openingPage">
                <div class="credentialDivsElements"><h3>Login</h3></div>
                <div class="credentialDivsElements">Username</div>
                <input id="userLogin" class="inputs"></input>
                <div class="credentialDivsElements">Password</div>
                <input id="passwordLogin" class="inputs" type="Password"></input>
                <div class="credentialDivsElements">
                    <button v-on:click="login()" id="credentialBtns">Login</button>
                </div>  
            </div>

            <div id="createAccountDiv" class="openingPage">
                <div class="credentialDivsElements"><h3>Create Account</h3></div>
                <div class="credentialDivsElements">Username</div>
                <input id="userCreateAct" class="inputs"></input>
                <div class="credentialDivsElements">Password</div>
                <input id="passwordCreateAct" class="inputs" type="Password"></input>
                <div class="credentialDivsElements">
                    <button v-on:click="createAccount()" id="credentialBtns">Create Account</button>
                </div>
            </div>
            <!--<div id="createAccountorLoginStatus"></div>-->
        </div>

        <div id="landingPageLogoDiv" v-if="viewType=='landingPage'">
            <img id="logo" src="stockChart.jpg" alt="graph">
            &nbsp;
        </div>

        
        <div id="mainPageContainer" v-if="viewType=='mainPage'">
            <div id="mainPage" v-if="viewType=='mainPage'">

                <div id="buyAndSellStocksDiv" class="mainPageDivs">
                    <div>Equity</div>
                    <div id="balanceDiv" v-if="viewType=='mainPage'">{{userBalance}}$</div>
                    <hr>
                    <div id="buyStockDiv">
                        
                        <h3>Buy Stock</h3>
                        <h4>Enter Stock Ticker</h4>
                        <input id="tickerToPurchase" class="buySellInputs"></input>
                        <h4>How many shares?</h4>
                        <input id="shareAmt" class="buySellInputs"></input>
                        <button class="buySellButtons" v-on:click="buyStock()">Buy Now</button>
                        <hr>
                        
                    </div>
                    
                </div>

                

                <div id="stockDataDiv" class="mainPageDivs">
                    <div id="searchDiv">
                        <h3>Search ticker for stock data</h3>
                        <h4>Enter Stock Ticker</h4>
                        <input id="tickerData"></input>
                        <button v-on:click="getTickerData('initial')" id="searchButton">Search </button>
                    </div>  
                    <div id="searchStatus">
                    </div>


                    <div id="chartDiv" v-if="showCanvas">
                        <canvas id="chart" ></canvas>
                        <div id="timeFrameButtonsDiv">
                            <button class="timeFrameButton" v-on:click="getTickerData('1 Year')">1 Year</button>
                            <button class="timeFrameButton" v-on:click="getTickerData('6 Months')">6 Months</button>
                            <button class="timeFrameButton">3 Months</button>
                            <button class="timeFrameButton" v-on:click="getTickerData('initial')">1 Week</button>
                        </div>
                    </div>



                    <div class="dataPoints">
                        <div>Current Stock Price:</div>
                        <div class="subData" id="currentPriceDiv"></div>
                    </div>
                    <div class="dataPoints">
                        <div>Todays Open: </div>
                        <div class="subData" id="todayOpenPriceDiv"></div>
                    </div>
                    <div class="dataPoints">
                        <div>Yesterday's Close: </div>
                        <div class="subData" id="yesterdayClosePriceDiv"></div>
                    </div>
                    <div class="dataPoints">
                        <div>50 Day Moving Avg: </div>
                        <div class="subData" id="fiftyDayAvgDiv"></div>
                    </div>
                    <div class="dataPoints">
                        <div>Day High: </div>
                        <div class="subData" id="dayHigh"></div>
                    </div>
                    <div class="dataPoints">
                        <div>Day Low: </div>
                        <div class="subData" id="dayLow"></div>
                    </div>
                    <div class="dataPoints">
                        <div>52 Week Low: </div>
                        <div class="subData" id="fiftyTwoLow"></div>
                    </div>
                    <div class="dataPoints">
                        <div>52 Week High: </div>
                        <div class="subData" id="fiftyTwoHigh"></div>
                    </div>
                    
                </div>

                <div id="positionsDiv" class="mainPageDivs">
                    
                    <div><h2>Total Profits:</h2> <h1>{{"$: " + totalProfits}}</h1></div>
                    <h3>Positions:</h3>
                    
                    <div>
                        <p id="ps">Symbol&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                        <p id="ps">Shares &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </p>
                        <p id="ps">Gains/Losses</p>
                    </div>
                    
                    <div class="positionsData" v-for="ticker in positions" >
                        <ul>
                            <button id="refreshButton" v-on:click="updatePosition(ticker.date)">&#8634;</button>
                            <p id="ps">{{ticker.ticker}} &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp;</li>    
                            <p id="ps">{{ticker.sharesBought}} &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;</p>
                            <p id="ps" v-if="ticker.profit >= 0" style="{ color: green}">{{ticker.profit}} &nbsp; &nbsp; &nbsp;</p>
                            <p id="ps" v-if="ticker.profit < 0" style="{ color: red}">{{ticker.profit}} &nbsp; &nbsp; &nbsp;</p>
                            <button id="sellPositionBtn" v-on:click="sellPosition(ticker.date)">Sell Position</button>
                        </ul>
                        
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
        
</body>
<script src="vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script src="jquery-3.5.1.js"></script>
<script src="client.js"></script>
</html>