<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
</head>


<body>
    <div id="main">
        <div id="navBar">
            <div id="navPageTitle"><h1> Paper Trading Web Application </h1></div>
        </div>

        <div id="loginOrCreateAccount" v-if="viewType=='landingPage'">
            <div id="loginDiv" class="openingPage">
                <div class="credentialDivsElements"><h3>Login</h3></div>
                <div class="credentialDivsElements">Username</div>
                <input id="userLogin" class="inputs"></input>
                <div class="credentialDivsElements">Password</div>
                <input id="passwordLogin" class="inputs" type="Password"></input>
                <div class="credentialDivsElements">
                    <button v-on:click="login()" id="credentialBtns">Login</button>
                </div>  
            </div>

            <div id="createAccountDiv" class="openingPage">
                <div class="credentialDivsElements"><h3>Create Account</h3></div>
                <div class="credentialDivsElements">Username</div>
                <input id="userCreateAct" class="inputs"></input>
                <div class="credentialDivsElements">Password</div>
                <input id="passwordCreateAct" class="inputs" type="Password"></input>
                <div class="credentialDivsElements">
                    <button v-on:click="createAccount()" id="credentialBtns">Create Account</button>
                </div>
            </div>
            <!--<div id="createAccountorLoginStatus"></div>-->
        </div>

        <div id="landingPageLogoDiv" v-if="viewType=='landingPage'">
            <img id="logo" src="stockChart.jpg" alt="graph">
            &nbsp;
        </div>

        <div id="balanceDiv" v-if="viewType=='mainPage'">{{balance}}$ Equity</div>
        <div id="mainPageContainer" v-if="viewType=='mainPage'">
            <div id="mainPage" v-if="viewType=='mainPage'">
                
                <div id="buyAndSellStocksDiv" class="mainPageDivs">
                    <div id="buyStockDiv">
                        
                        <h3>Buy Stock</h3>
                        <h4>Select Stock Ticker</h4>
                        <input id="tickerToPurchase" class="buySellInputs"></input>
                        <h4>How many shares?</h4>
                        <input id="shareAmt" class="buySellInputs"></input>
                        <button class="buySellButtons" v-on:click="buyStock()">Buy Now</button>
                        
                    </div>
                    <div id="sellStockDiv">
                        <h3>Sell Stock</h3>
                        <h4>Enter Stock Ticker</h4>
                        <input class="buySellInputs"></input>
                        <h4>How many shares?</h4>
                        <input class="buySellInputs"></input>
                        <button class="buySellButtons">Sell Now</button>
                    </div>
                </div>

                <div id="stockDataDiv" class="mainPageDivs">
                    <div id="searchDiv">
                        <h3>Search ticker for stock data</h3>
                        <h4>Enter Stock Ticker</h4>
                        <input id="tickerData"></input>
                        <button>Search </button>
                    </div>  

                    <div>
                    </div>
                </div>

                <div class="mainPageDivs">
                    <h3>Positions</h3>
                    <div v-for="tickers in tickerList">
                        <p>{{ticker}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
        
</body>
<script src="vue.global.js"></script>
<script src="stocks.js"></script>
<script src="jquery-3.5.1.js"></script>
<script src="client.js"></script>
</html>